@model Web_APP.Models.WarenModel
@{
    ViewBag.Title = "IndexWaren";
}

<div class="container">
    <div class="row">
        <div id="flexcontainer">
            <a href="@Url.Action("IndexHome", "Home")">
                <input type="button" class="btn btn-primary btn-lg   marginBTN " style="margin:5px" value="Zurück zum Menü" />
            </a>
            <div class="form-group">
                <input type="text" class="form-control " style="margin-left:5px;" placeholder="Suchen nach Namen" id="usr">
            </div>
            <br />
            <div >
@{
    int zähler = 0;
    foreach (var item in Model.StammWarenListe)
    {
                <div class="col-md-12">
                <div class="col-md-4 marginBott" >
                    <a data-toggle="collapse"  href="#collapse_@Html.DisplayFor(modelItem => item.Id)">
                        <div >@Html.DisplayFor(modelItem => item.Vorname) @Html.DisplayFor(modelItem => item.Name)</div></a>
                </div>
                    <div class="col-md-8 borderLeft">
                        <div id="collapse_@Html.DisplayFor(modelItem => item.Id)" class="panel-collapse collapse">
                            <div class="panel-heading">
                                <img style="height:50px; width:50px;" src="~/fonts/AuftrLogo.bmp" />
                                <div>
                                    @Html.DisplayFor(modelItem => item.Vorname) @Html.DisplayFor(modelItem => item.Name)
                                </div>
                            </div>
                            <div class="panel-body">
                                <table class="table-bordered">
                                    <tr>
                                        <th>Anzahl Fassungen</th>
                                        <th>Summe Kosten</th>
                                        <th>???</th>
                                        <th>???</th>
                                        <th>???</th>
                                    </tr>
                                    <tr>
                                        <td>Andy Wolf</td>
                                        <td>4445</td>
                                        <td>54/16-42</td>
                                        <td>21</td>
                                        <td>289.00 // 5</td>
                                    </tr>
                                    <tr>
                                        <td>Andy Wolf</td>
                                        <td>4445</td>
                                        <td>54/16-42</td>
                                        <td>21</td>
                                        <td>289.00 // 5</td>
                                    </tr>
                                    <tr>
                                        <td>Andy Wolf</td>
                                        <td>4445</td>
                                        <td>54/16-42</td>
                                        <td>21</td>
                                        <td>289.00 // 5</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    </div>
        zähler++;
        if (zähler > 19)
        {
            break;
        }
    }

    }
                <div>Es wurden @zähler Einträge Geladen</div>                   
                </div>
            </div>
        </div>
    </div>
