@model Web_APP.Models.StatistikModel

@{
    ViewBag.Title = "Statistik";
}

<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="ÜberschriftStatistik">STATISTIK MIT VERLEICH FÜR DIE ZEIT VOM @DateTime.Today BIS @DateTime.Today <br /> </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Summe</th>
                        <th>Zeitraum VON</th>
                        <th>Zeitraum BIS</th>
                        <th>Vergleich</th>
                        <th>?????</th>
                        <th>Abweichung</th>
                    </tr>
                </thead>
                @{
                    int zähler = 0;
                    foreach (var item in Model.StatistikListe)
                    {
                        <tbody>
                            <tr>
                                <td>Platzhalter: @Html.DisplayFor(modelItem => item.Id) €</td>
                                <td>P: 01.01.1990</td>
                                <td>P: 31.12.2100</td>
                                <td>P: Ja</td>
                                <td>P: ?????</td>
                                <td>P: 0,01 %</td>
                            </tr>
                        </tbody>
                        zähler++;
                        if (zähler > 19)
                        {
                            break;
                        }
                    }
                }
            </table>
            <div>Es wurden @zähler Tabellen Einträge geladen</div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <!---->
        <div class="col-md-12 AuswahlFeld" style="text-align:center">
            <a href="@Url.Action("IndexHome", "Home")">
                <input type="button" class="btn btn-primary btn-lg zentrierungButton" style="margin:5px;" value="Zurück zum Menü" />
            </a>
            <h2>Statistik</h2>
        </div>
        <div class="col-lg-4 AuswahlFeld">
            <div class="row; KleinesAuswahlFeld">
                <div class="">
                    <!-- -->
                    <div class="col-md-12;">
                        <div>PC-KASSA</div>
                        <a data-toggle="collapse" href="#collapse1">Standard Filter</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 AuswahlFeld">
            <div class="row">
                <div class="col-md-12">
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel">
                            <div>
                                <div class="col-md-2; GroßeLeere; borderLeft">
                                    <h3>VORAUSWAHL</h3>
                                    @*Filialen*@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Filiale1, "Filiale:", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <div>@Html.DropDownList("FilialenOptionen", Model.FilialenOptionen, htmlAttributes: new { @class = "form-control" })</div>
                                            @Html.ValidationMessageFor(model => model.Filiale1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    @*Gruppen*@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Gruppe1, "Gruppe:", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <div>@Html.DropDownList("FilialenOptionen", Model.FilialenOptionen, htmlAttributes: new { @class = "form-control" })</div>
                                            @Html.ValidationMessageFor(model => model.Gruppe1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    @*POS*@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.POS1, "POS:", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <div>@Html.DropDownList("FilialenOptionen", Model.FilialenOptionen, htmlAttributes: new { @class = "form-control" })</div>
                                            @Html.ValidationMessageFor(model => model.POS1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    @*Vergleich*@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Vergleich1, "Gruppe:", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <div>@Html.DropDownList("Vergleich:", Model.FilialenOptionen, htmlAttributes: new { @class = "form-control" })</div>
                                            @Html.ValidationMessageFor(model => model.Vergleich1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    @*Perioden*@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Periode1, "Periode:", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <div>@Html.DropDownList("Periode:", Model.FilialenOptionen, htmlAttributes: new { @class = "form-control" })</div>
                                            @Html.ValidationMessageFor(model => model.Periode1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    @*Von*@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Von, "Von:", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Von, new { htmlAttributes = new { @class = "form-control validationMSG" } })
                                            @Html.ValidationMessageFor(model => model.Von, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    @*Bis*@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Bis, "Bis:", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Bis, new { htmlAttributes = new { @class = "form-control validationMSG" } })
                                            @Html.ValidationMessageFor(model => model.Bis, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <input type="button" class="btn btn-primary btn-lg zentrierungButton" style="margin:5px;" value="Starten der Auswertung" onclick="openNav()"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function openNav() {
        document.getElementById("myNav").style.height = "100%";
    }

    function closeNav() {
        document.getElementById("myNav").style.height = "0%";
    }

</script>