@model Web_APP.Models.StatistikModel

@{
    ViewBag.Title = "Statistik";
}
@*<style>
    .GroßeLeere {
        width: 100%;
        height: 100%;
        background-color: whitesmoke;
    }

    .KleinesAuswahlFeld {
        background-color: lightgray;
        width: 100%;
        height: 500px;
        padding: 20%;
    }

    .AuswahlFeld {
        border-style: solid;
        border-color: black;
        border-width: 2px;
        margin: 0;
        padding: 0;
    }

    .overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: ghostwhite;
        background-color: ghostwhite;
        overflow-y: hidden;
        transition: 0.5s;
    }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: red;
        display: block;
        transition: 0.3s;
    }

    .StrichGrau {
        border-bottom: solid 1px;
        border-color: lightgray;
    }
</style>*@

<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div style="background-color:azure">STATISTIK MIT VERLEICH FÜR DIE ZEIT VOM @DateTime.Today BIS @DateTime.Today <br /> SUMME ZEITRAUM: ???? VERGLEICH: ???? ABWEICHUNG: 0.00%</div>
            </div>
            <div class="overlay-content StrichGrau">
               
                    <div class="col-sm-2">Zeitraum</div>
                    <div class="col-sm-2">@DateTime.Today</div>
                    <div class="col-sm-1">Anzahl</div>
                    <div class="col-sm-2">Bezeichnung</div>
                    <div class="col-sm-2">0.00</div>
                    <div class="col-sm-1">100%</div>
                    <div class="col-sm-2">0.00</div>
                
               <br />
           
                    <div class="col-sm-2">Vergleich</div>
                    <div class="col-sm-2">.</div>
                    <div class="col-sm-1">Anzahl</div>
                    <div class="col-sm-2">.</div>
                    <div class="col-sm-2">0.00</div>
                    <div class="col-sm-1">100%</div>
                    <div class="col-sm-2">0.00</div>
               
            </div>
           
        </div>
    </div>
</div>


<div class="container">

    <div class="row">
        <!---->
        <div class="col-md-12 AuswahlFeld" style="text-align:center">
            <a href="@Url.Action("IndexHome", "Home")">
                <input type="button" class="btn btn-primary btn-lg zentrierungButton" style="margin:5px;" value="Zurück zum Menü" />
            </a>
            <h2>Statistik</h2>
        </div>
        <!--kleines Feld A-->
        <div class="col-lg-4 AuswahlFeld">
            <div class="row; KleinesAuswahlFeld">
                <div class="">
                    <!-- -->
                    <div class="col-md-12;">
                        <div>PC-KASSA</div>
                        <a data-toggle="collapse" href="#collapse1">Standard Filter</a>

                    </div>
                </div>
            </div>
        </div>
        <!--kleines Feld E-->
        <!--Großes Feld A-->
        <div class="col-lg-8 AuswahlFeld">

            <div class="row">
                <div class="col-md-12">
                    <div id="collapse1" class="panel-collapse collapse">
                        <!--Colappse Anfang-->
                        <div class="panel">
                            <div>

                                <div class="col-md-2 GroßeLeere">

                                    <h3>VORAUSWAHL</h3>
                                    <!--Null Reference-->
                                   @*Filialen*@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Filiale1, "Filiale:", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <div>@Html.DropDownList("FilialenOptionen", Model.FilialenOptionen, htmlAttributes: new { @class = "form-control" })</div>
                                            @Html.ValidationMessageFor(model => model.Filiale1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    @*Gruppen*@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Gruppe1, "Gruppe:", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <div>@Html.DropDownList("FilialenOptionen", Model.FilialenOptionen, htmlAttributes: new { @class = "form-control" })</div>
                                            @Html.ValidationMessageFor(model => model.Gruppe1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    @*POS*@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.POS1, "POS:", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <div>@Html.DropDownList("FilialenOptionen", Model.FilialenOptionen, htmlAttributes: new { @class = "form-control" })</div>
                                            @Html.ValidationMessageFor(model => model.POS1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    @*Vergleich*@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Vergleich1, "Gruppe:", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <div>@Html.DropDownList("Vergleich:", Model.FilialenOptionen, htmlAttributes: new { @class = "form-control" })</div>
                                            @Html.ValidationMessageFor(model => model.Vergleich1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    @*Perioden*@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Periode1, "Periode:", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <div>@Html.DropDownList("Periode:", Model.FilialenOptionen, htmlAttributes: new { @class = "form-control" })</div>
                                            @Html.ValidationMessageFor(model => model.Periode1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    @*Von*@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Von, "Von:", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Von, new { htmlAttributes = new { @class = "form-control validationMSG" } })
                                            @Html.ValidationMessageFor(model => model.Von, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    @*Bis*@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Bis, "Bis:", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Bis, new { htmlAttributes = new { @class = "form-control validationMSG" } })
                                            @Html.ValidationMessageFor(model => model.Bis, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <span class="SuchButten" style="font-size:30px" onclick="openNav()">Suche Ausführen</span>
                                </div>
                           
                            </div>
                        </div>
                    </div><!--Colappse Ende-->
                </div>
            </div>

        </div>
        <!--Großes Feld E-->
        <!-- -->



    </div>
</div>
<script>

    function openNav() {
        document.getElementById("myNav").style.height = "100%";
    }

    function closeNav() {
        document.getElementById("myNav").style.height = "0%";
    }

</script>