<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - IOM APP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .zentrierung {
            margin: auto;
            width: 60%;
        }

        .zentrierungButton {
           text-align:center;
           min-width:200px;
        }

        .greyField {
            width: 100%;
            height: 50%;
        }

        #flexcontainer {
            display: flex;
            /*display: flex;*/
            flex-direction: column;
        }

        #item1 {
            width: auto;
            order: 1;
        }

        #item2 {
            width: auto;
            order: 2;
        }

        .GroßeLeere {
            width: 100%;
            height: 100%;
        }

        .KleinesAuswahlFeld {
            width: 100%;
            height: 500px;
            padding: 20%;
        }

        .AuswahlFeld {
            border-style: solid;
            border: 2px;
            margin: 0;
            padding: 0;
        }

        .overlay {
            height: 0%;
            width: 100%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: ghostwhite;
            overflow-y: hidden;
            transition: 0.5s;
        }

        .overlay-content {
            position: relative;
            top: 25%;
            width: 100%;
            text-align: center;
            margin-top: 30px;
        }

        .overlay a {
            padding: 8px;
            text-decoration: none;
            font-size: 36px;
            color: red;
            display: block;
            transition: 0.3s;
        }

        .StrichGrau {
            border-bottom: solid 1px;
            border-color: lightgray;
            margin:2px;
        }

        .Zentrierung {
            display: flex;
            /*flex-direction: row;*/
            justify-content: center;
            /*flex-wrap: wrap;
        align-items: center;*/
            /*max-width:500px;*/
        }
        .marginBTN {
            margin:10px;
        }
        .SuchButten{
            color:cornflowerblue;
            text-decoration:underline;
            text-align:center;
            text-size-adjust:unset;
        }
        .SuchFeldBorder{
            border-color:black;
            border:1px solid;
            margin:5px;
        }
        .borderLeft {
            border-left: solid 2px;
            border-color: whitesmoke;
        }
        .marginBott{
            margin-bottom:5px;
        }
        .ÜberschriftStatistik {
            background-color:black;
            color:white;
            margin:5px;
            font-size: medium;
            font-weight:bold;
            font-family:Arial;
                
        }
    </style>
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Anwendungsname", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Startseite", "Index", "Home")</li>
                        <li>@Html.ActionLink("Info", "About", "Home")</li>
                        <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - IOM APP</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/scripts.js")
    @RenderSection("scripts", required: false)
    
</body>
</html>
